doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='mk-timer')
    ion-header-bar.bar-calm
      h1.title Timer App
    ion-content(ng-controller='MainCtrl')
      br
      br
      br
      h3 Enter Seconds
      .card
        .item.item-text-wrap
          input(type='number', ng-model='input', placeholder='0')
      button.button.button-block.button-balanced(ng-click='start()') start
      br
      br
      .clock {{time}}
