<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main_controller.js"></script>
  </head>
  <body ng-app="mk-timer">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Timer App</h1>
    </ion-header-bar>
    <ion-content ng-controller="MainCtrl"><br><br><br>
      <h3>Enter Seconds</h3>
      <div class="card">
        <div class="item item-text-wrap">
          <input type="number" ng-model="input" placeholder="0">
        </div>
      </div>
      <button ng-click="start()" class="button button-block button-balanced">start</button><br><br>
      <div class="clock">{{time}}</div>
    </ion-content>
  </body>
</html>